@import "../../assets/variables";

.desktop-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  border-right: 2px solid $light-gray-color;

  .desktop-header-fixed {
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .desktop-header-logo_link {
      text-decoration: none;
      color: $dark-text-color;

      .desktop-header-logo {
        font-size: 24px;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 80px;
      }
    }
  }
}
