@import "../../assets/variables";

.desktop-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 2px solid $light-gray-color;

  .desktop-header-logo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 80px;
  }
}
