@import "../../assets/variables";
@import "../../assets/mixins";

.desktop-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  @include themify($themes) {
    border-right: 2px solid themed("secondary-color");
  }

  .desktop-header-fixed {
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .desktop-header-logo {
      font-size: 24px;
      font-weight: bold;
      margin-top: 24px;
      margin-bottom: 80px;

      @include themify($themes) {
        color: themed("primary-text-color");
      }
    }

    .desktop-nav-btn {
      margin-bottom: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
