@import "../assets/variables";
@import "../assets/mixins";

.create-note_container {
  width: 100%;
  height: 100%;

  .create-note_container-title {
    font-size: 48px;
    font-weight: bold;

    @include padding(30px, 0, 0, 24px);
  }

  .create-note_section {
    position: relative;
    background-color: $paper-imitation-color;
    border-left: 40px solid;
    border-radius: 16px;
    margin-top: 40px;
    margin-left: 24px;
    margin-bottom: 40px;
    margin-right: 80px;
    height: 65%;

    @include padding(24px, 16px, 16px, 24px);

    .create-note_btn {
      position: absolute;
      top: 26px;
      left: -32px;

      &:hover {
        cursor: pointer;
      }
    }

    .create-note_title {
      font-size: 24px;
      margin-bottom: 8px;
      height: 10%;
      width: 70%;
      resize: none;
      border: none;
      background-color: $paper-imitation-color;

      &:focus,
      &:focus-visible {
        outline: 1px solid $primary-light-color;
      }
    }

    .create-note_content {
      height: 80%;
      width: 95%;
      resize: none;
      border: none;
      background-color: $paper-imitation-color;

      &:focus,
      &:focus-visible {
        outline: 1px solid $primary-light-color;
      }
    }

    .create-note_updated {
      font-size: 13px;
      opacity: 0.5;
      padding-top: 16px;
    }
  }
}

@media only screen and (max-width: $small-screen) {
  .create-note_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .create-note_container-title {
      display: none;
    }

    .create-note_section {
      position: relative;
      height: 80vh;
      width: 90%;
      margin: 0;
      border-left: none;
      border-top: 40px solid;

      .create-note_btn {
        position: absolute;
        top: -32px;
        left: 16px;
      }
    }
  }
}
