@import "../assets/variables";
@import "../assets/mixins";

.new-note-picker {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10vw;
  padding-bottom: 40px;

  .new-note-btn {
    &:hover {
      cursor: pointer;
    }
  }

  .new-note-btn-close {
    display: none;
  }

  .show-btn {
    display: inline-block;
  }

  .hide-btn {
    display: none;
  }

  .colored-circle {
    position: absolute;
    top: 8px;
    left: 32px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 24px;
  }

  .colored-circle-1 {
    @include themify($themes) {
      background-color: themed("note-color-1");
    }
  }

  .colored-circle-2 {
    @include themify($themes) {
      background-color: themed("note-color-2");
    }
  }

  .colored-circle-3 {
    @include themify($themes) {
      background-color: themed("note-color-3");
    }
  }

  .colored-circle-4 {
    @include themify($themes) {
      background-color: themed("note-color-4");
    }
  }

  .colored-circle-5 {
    @include themify($themes) {
      background-color: themed("note-color-5");
    }
  }
}

@media only screen and (min-width: $medium-screen) {
  .new-note-picker {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 0;

    .new-note-btn {
      z-index: 6;
    }

    .colored-circle {
      position: absolute;
      top: 0px;
      left: 8px;
      margin-top: 24px;
      margin-left: 0;
    }
  }
}
