@import "../assets/variables.scss";
@import "../assets/mixins";

.notes-list-container {
  .notes-list-title {
    font-size: 48px;
    font-weight: bold;
    @include padding(30px, 0, 0, 10vw);
  }

  .notes-list-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    list-style-type: none;

    .notes-list_no-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;

      .notes-list_no-content-message {
        font-size: 24px;
        @include padding(0, 10vw, 0, 10vw);
      }
    }

    li {
      .notes-list-item {
        text-decoration: none;
        color: $dark-text-color;
      }
    }
  }
}

@media only screen and (min-width: $medium-screen) {
  .notes-list-container {
    .notes-list-title {
      @include padding(40px, 0, 24px, 24px);
    }

    .notes-list-content {
      justify-content: flex-start;

      .notes-list_no-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 50vh;

        .notes-list_no-content-message {
          font-size: 24px;
          @include padding(0, 24px, 0, 24px);
        }
      }
    }
  }
}
