@import "../assets/variables";

.search {
  width: 80vw;
  max-width: 1000px;
  height: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 16px;
  margin-left: 10vw;
}

@media only screen and (min-width: $medium-screen) {
  .search {
    width: 70%;
    margin-top: 20px;
    margin-left: 16px;
  }
}
