@import "../../assets/variables";
@import "../../assets/mixins";

.mobile-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  @include themify($themes) {
    background-color: themed("primary-color");
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include padding(16px, 28px, 16px, 28px);

  .mobile-header-logo {
    font-size: 28px;

    @include themify($themes) {
      color: themed("primary-text-color");
    }
  }

  .mobile-nav-btn {
    margin-left: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}
