@import "../../assets/variables";
@import "../../assets/mixins";

.mobile-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  @include themify($themes) {
    background-color: themed("primary-light-color");
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include padding(16px, 28px, 16px, 28px);

  .mobile-header-logo_link {
    text-decoration: none;
    @include themify($themes) {
      color: themed("dark-text-color");
    }

    .mobile-header-logo {
      font-size: 28px;
    }
  }

  .mobile-theme-mode-btn {
    font-size: 28px;

    &:hover {
      cursor: pointer;
    }
  }
}
