@mixin text-overflow-single-line($textWidth) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: $textWidth;
}

@mixin text-overflow-multi-line($textWidth, $maxNumOfLines) {
  overflow: hidden;
  width: $textWidth;
  display: -webkit-box;
  -webkit-line-clamp: $maxNumOfLines;
  -webkit-box-orient: vertical;
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
