$extra-small: 340px;
$small-screen: 480px;
$medium-screen: 1024px;
$large-screen: 1500px;

$html-background-color: #bec9cd;

$themes: (
  light: (
    primary-light-color: #f8f8f8,
    light-gray-color: #bec9cd,
    paper-imitation-color: #faedca,

    dark-text-color: #000000,

    note-color-1: #c4e95c,
    note-color-2: #ff9c96,
    note-color-3: #6cedbe,
    note-color-4: #deb4ff,
    note-color-5: #9ceee9,

    secondary-light-color: #fdfbfb,
  ),
  dark: (
    primary-light-color: #303030,
    light-gray-color: #6b6b6b,
    paper-imitation-color: #6b6b6b,

    dark-text-color: #cfcfcf,

    note-color-1: #607341,
    note-color-2: #603c3a,
    note-color-3: #3f705e,
    note-color-4: #614a73,
    note-color-5: #397078,

    secondary-light-color: #666666,
  ),
);

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
