$extra-small: 340px;
$small-screen: 480px;
$medium-screen: 1024px;
$large-screen: 1500px;

$primary-light-color: #f8f8f8;
$light-gray-color: #bec9cd;
$paper-imitation-color: #faedca;

$dark-text-color: #000000;

$note-color-1: #c4e95c;
$note-color-2: #ff9c96;
$note-color-3: #6cedbe;
$note-color-4: #deb4ff;
$note-color-5: #9ceee9;

// $box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
