$extra-small: 340px;
$small-screen: 480px;
$medium-screen: 1024px;
$large-screen: 1500px;

$primary-light-color: #eeeeee;
$light-gray-color: #bec9cd;
$paper-imitation-color: #fff6de;

$dark-text-color: #000000;

// $box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
