@import "./assets/variables";
@import "./assets/mixins";

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "Header"
    "Main";
  min-height: 100svh;

  @include themify($themes) {
    background-color: themed("primary-color");
  }

  .header-section {
    grid-area: Header;
  }

  .main-section {
    grid-area: Main;
  }
}

@media only screen and (min-width: $medium-screen) {
  .app {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Header Main";
    height: 85vh;
    overflow-y: auto;
    min-height: 85vh;

    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: auto;
    border-radius: 16px;
    box-shadow: $box-shadow;

    @include themify($themes) {
      background-color: themed("primary-color");
    }

    .header-section {
      grid-area: Header;
    }

    .main-section {
      grid-area: Main;
      padding-left: 40px;
    }
  }
}
